@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div[data-product="Prismay"] {
    flex-basis: clamp(33%, 40%, 165px);
  }
}

@layer components {
  .nav--button-mobile {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    background-color: #161616;
    border-radius: 5px;

    & .bar {
      width: 20px;
      position: relative;
      right: -2px;
      z-index: 0;
      transition: all 0ms 200ms;

      &,
      &::before,
      &::after {
        height: 2.5px;
        background-color: white;
        border-radius: 10px;
      }

      &::before,
      &::after {
        content: '';
        width: 24px;
        position: absolute;
        z-index: 1;
        right: 0;
      }

      &::before {
        bottom: 8px;
        transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &::after {
        top: 8px;
        transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &.animate {
        background: #161616;
      }

      &.animate::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &.animate::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }

  }

  .navbar--default {
    @apply flex gap-x-3 mx-9;

    & .nav--link {
      @apply inline-block px-6 py-1 font-normal rounded-full transition-colors;
    }

    & .nav--link-contact {
      @apply text-black bg-white hover:bg-accent;

      &.nav--link-active {
        @apply bg-accent;
      }
    }

    & .nav--link-default {
      @apply text-zinc-300 hover:text-white;

      &.nav--link-active {
        @apply text-white bg-zinc-700;
      }
    }
  }

  .navbar--small {
    @apply fixed z-10 -top-full inset-x-10 p-2 bg-black transition-all duration-300;

    &-open {
      @apply top-28;
    }

    & .nav--link {
      @apply w-full block text-center py-3.5 font-bold text-[22px];
    }
  }

  .contact--form {
    background: linear-gradient(180deg,
        #131313 2.27%,
        rgba(24, 24, 24, 0.00) 40.75%,
        rgba(24, 24, 24, 0.03) 73%,
        rgba(22, 22, 22, 0.44) 101.86%);
  }
}

@layer utilities {
  .container {
    @apply max-w-[85%] sm:max-w-[80%] xl:max-w-[72rem] mx-auto;
  }

  .sec-heading {
    font-size: clamp(1.875rem, 5vw, 2.5rem);
  }

  .sec-subtitle {
    font-size: clamp(1rem, 2vw, 1.25rem);
  }

  .hero-heading {
    max-width: 40rem;
    font-size: clamp(3.25rem, 10vw, 5.625rem);
    line-height: 1.05;

    .highlight {
      margin-inline-start: 0.65rem;
      padding-inline-start: 0.5rem;
      padding-inline-end: 0.5rem;
      border-image-source: url('/text-accent.svg');
      border-image-slice: 17 19;
      border-image-width: 15px 15px 15px 15px;
      border-image-outset: 0px 0px 0px 0px;
      border-image-repeat: stretch stretch;
    }
  }

  .hero-subtitle {
    font-size: clamp(1.25rem, 4vw, 2.15rem);
  }

  .text-balance {
    text-wrap: balance;
    /* Provides a temporal workaround for headings */
    text-align: center;
  }

  .balance-poly {
    /* Provides some styling for browsers that do not support text-wrap: */
    text-align: center;
    max-width: 80%;
  }
}